.tokenomic-main{
    width: 91.3%;
    margin: auto;
    margin-top: 2.3rem;
    margin-bottom: 2.3rem;
    background: var(--color-footer);
    padding: 2rem;
     /* ff 3.6+ */
     background:-moz-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

     /* safari 5.1+,chrome 10+ */
     background:-webkit-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);
 
     /* opera 11.10+ */
     background:-o-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);
 
     /* ie 10+ */
     background:-ms-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);
 
     /* global 92%+ browsers support */
     background:radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);
 
     filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
     border-radius:var(--border-radius); ;
    -webkit-border-radius:var(--border-radius);
    -moz-border-radius:var(--border-radius);
    -ms-border-radius:var(--border-radius);
    -o-border-radius:var(--border-radius);
 }

.tokenomic{
    width: 100%;
    display: flex;
    flex-direction: row;
    font-family: var(--font-family) !important;
}
.tokenomic .content,.chart-area{
    width: 50%;
}
.tokenomic .content .trans-head{
    color: #fff;
}
.tokenomic .content .trans-head div{
    display: inline-flex;
    width: 8px;
    height: 3px;
    background: var(--gradient-bar);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 0.25rem;
}
.tokenomic .content ul{
    list-style-type: none;
}
.tokenomic .chart-area{
    padding: 2rem;
}

@media screen and (max-width:945px) {
    .tokenomic{
        display: flex;
        flex-direction: column;
        padding: 0.5rem;
        width: 100%;
    }
    .tokenomic .content,.chart-area{
        width: 100%;
        padding: 0 !important;
    }
}
